
.content {
  padding: 20px;
}


.dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.add-expense-button {
  background-color: #28a745; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #218838;
  }
  @media (max-width: 768px) {
   
    width: 100%;
    margin-top: 10px;
  }
}


.cards-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}



.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.card.owe {
  border-color: #dc3545;
}

.card.owes-you {
  border-color: #28a745;
}

.card-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.amount {
  font-size: 24px;
  color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currency-symbol {
  font-size: 18px;
  margin-right: 5px;
}


.owe-icon {
  color: #dc3545;
}

.owes-you-icon {
  color: #28a745;
 
}