
  .expense-page {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .left-section,
  .right-section {
    width: 45%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .expense-card,
  .settled-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
  }
  
  .expense-card:hover,
  .settled-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .expense-header,
  .settled-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .summary-button,
  .settle-button {
    background-color: #8ea9c6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  

  .summary-button:hover,
  .settle-button:hover {
    background-color: #0056b3;

  }
  
  .details-list {
    margin-top: 10px;
  }
  
  .details-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
 
  @media (max-width: 768px) {
    .left-section,
    .right-section {
      width: 100%;
    }
  }
  