.sidebar {
  width: 0;
  height: 100vh;
  /* background: linear-gradient(#c66565, #6249b0a4); ; */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow-x: hidden;
  transition: width 0.3s ease;
  filter: blur(200%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar.show {
  width: 250px;
}

.logo h2 {
  margin: 0;
}

.user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.nav-items {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-items li {
  cursor: pointer;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  font-size:18px;
  align-items: center;
  transition: background-color 0.3s ease;
  border-bottom: 10px;
  border-radius: 10px;
  


}

.nav-items li:hover {
  background-color: #555;
  border-radius: 20px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;

}

.nav-items li.active {
  background-color: #007bff;
  color: #fff;
}

.nav-items span {
  margin-left: 10px;
}

/* Other styles for navigation items */
@media (max-width: 768px) {
  /* Add styles for mobile if needed */
}
.logo-img{
  height: 50px;
  width:50px;
  position:relative;
}
